<html>
    <head>
        <title>Minesweeper</title>

        <!-- Styles -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css" >

        <!-- Scripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron">
            <h1 align="center">Minesweeper</h1>
            <div align="center" id="game_board">
                {% for row in minetable.rows %}
                <div class="btn-group btn-group-lg" role="group">
                    {% for button in row.buttons %}
                    <form  action="pepito" method="post" style="display:inline">
                        <input type="hidden" name="position" value="{{ button.position }}">
                        <button type="submit" class="btn btn-large btn-default" id="{{ button.position }}">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </form>
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
            </div>
            {% if message == 'NOT_BOMB' %}
                <h3 style="color:green;" align="center">{{message}}</h1>
            {% elif message == 'BOMB' %}
                <h3 style="color:red;" align="center">{{message}}</h1>
                <h3 style="color:red;" align="center">Loser!</h1>
            {% endif %}
        </div>
    </body>
</html>
